form{
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;

  .text-box{
    width: 500px;
    height: 300px;
    border: 1.3px solid;
  }
  .tag-box{
    width: 500px;
    height: 50px;
    margin-top: 30px;
    border: 1.3px solid;
  }
  .image{
    padding: 5px 0;
    float: right;
    font-size: 1.8rem;
    cursor: pointer;
    position: absolute;
    bottom:155px;
    right: 5px;
  }
  .hidden{
    display: none;
  }
  .submit{
    width: 500px;
    padding: 20px;
    background-color: steelblue;
    cursor: pointer;
    border-radius: 10px;
    color: white;
    font-weight:bold;
    margin-top: 20px;
  }
}
