
.header{
  width: 100vw;
  height: 65px;
  color: #666;
  letter-spacing: 0.12rem;
  display: flex;
  justify-content: space-between;
  line-height: 90px;
  position: fixed;
  border-bottom: 0.8px solid;
  overflow:hidden;
  box-sizing: border-box;
  a{
    color: #666;
  }
  &__logo{
   
    height: 65px;
    line-height: 65px;
    margin-left: 250px;
    font-size: 30px;
    font-weight: bold;
   
  }
  &__user-nav{
    display: flex;
    align-items: center;
    margin-right: 100px;
    width: 600x;
    line-height: 65px;
    p.name{
      height: 65px;
    }
  }
    }
  ul{
    display: flex;
    height: 50px;
    li{
      margin-right: 10px;
      line-height: 50px;
      border-radius: 10px;
      border: 1.5px solid;
      border-color: cornflowerblue;
      padding: 0 10px;
      text-align: center;
  }
}