.new_post{
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  
  .text-box{
    width: 500px;
    height: 100px;
    border: 1.3px solid;
    resize: none;
    border-radius: 3px;
  }
  .tag-box{
    width: 500px;
    height: 50px;
    margin-top: 25px;
    border: 1.3px solid;
    border-radius: 3px;
  }
  .image__form{
    margin-top: 25px;
    img{
      width: 498px;
      height: 498px;
    }
    .prev-contents{
      width: 500px;
      height: 500px;
      border: 1px solid;
      background-color: #fff;
      margin-bottom: 15px;
    }

  }
  .post-submit{
    width: 500px;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    border: solid 1px;
    border-radius: 4px;
    color: black;
    font-size: 18px;
    margin:25px 0 25px 0 

  }
  .post-submit:hover{
    background-color: lightskyblue;
  }
}
.hidden_file{
  display: none;
}
