
.header{
  width: 100vw;
  height: 65px;
  color: #333333;
  background-color:white;
  letter-spacing: 0.12rem;
  display: flex;
  justify-content: space-between;
  line-height: 90px;
  position: fixed;
  border-bottom: 1.5px solid;
  overflow:hidden;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  a{
    color: #666;
  }
  &__logo{
    height: 65px;
    line-height: 65px;
    margin-left: 100px;
    font-size: 40px;
    font-weight: bold;
  }
  &__logo-about{
    color: #FF00FF;
    font-size:30px ;
    line-height: 65px;
  }
  &__user-nav{
    display: flex;
    align-items: center;
    margin-right: 50px;
    width: 600x;
    line-height: 65px;
    p.name{
      height: 65px;
      font-size: 20px;

    }
  }
    }
  ul{
    display: flex;
    height: 50px;
    font-size: 20px;
    li{
      margin-right: 10px;
      line-height: 50px;
      border-radius: 4px;
      border: 2.5px solid lightskyblue;
      padding: 0 10px;
      text-align: center;
  }
}