*{
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.contents{
  width: 100%;
  height: calc(100vh - 65px);
  background-color: whitesmoke;
  position: absolute;
  bottom: 0px;
  overflow: scroll;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  .content{
    width: 600px;
    height: 400x;
    margin: 50px;
    .img-box{
      width: 600px;
      height: 415px;
    }

    .text-box{
      height: 140px;
      width: 600px;
      border: 1px solid;
      .text{
        width: 400px;
        height: 80px;
        padding: 0 0 0 10px;
      }
      .user-info{
        margin-left: 10px;
        
      }
    }
  }
}
