.new_post{
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;

  .text-box{
    width: 400px;
    height: 250px;
    border: 1.3px solid;
  }
  .tag-box{
    width: 400px;
    height: 50px;
    margin-top: 25px;
    border: 1.3px solid;
  }
  .image__form{
    margin-top: 25px;
    img{
      width: 400px;
      height: 400px;
    }
    .hidden_file{
      margin-right: 40px;
    }

  }
  .post-submit{
    width: 400px;
    padding: 20px;
    background-color: lightskyblue;
    cursor: pointer;
    border-radius: 10px;
    border-style:none; 
    color: black;
    font-size: 18px;
    margin:25px 0 25px 0 ;
  }
}
