@mixin btn() {
  width: 380px;
  height: 50px;
  background-color:lightskyblue;
  margin-top: 15px;
  cursor: pointer;
  border-radius: 5px;  
}

.contents{
  .text-box{
    position: relative;

  .trash-icon{
    position: absolute;
    bottom: 10px;
    left: 560px;
    font-size: 1.2rem;
    }
  }
  .show-user{
    margin-top: 20px;
    font-size: 35px;
    color:black;
  }
  .user-show-room{
      @include btn();
      text-align: center;
      line-height: 50px;
    .btn{
      @include btn();
    }
  }
  
}


